name: Release CV Versions

on:
  push:
    tags:
      - "*" # Any tag pushed to the repository

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        language:
          - name: en-US
            path: src/en.yaml
          - name: pt-BR
            path: src/br.yaml

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install RenderCV
        run: |
          pip install -r requirements.txt

      - name: RenderCV (${{ matrix.language.name }})
        run: rendercv render ${{ matrix.language.path }}

      - name: Upload output files
        uses: actions/upload-artifact@v4
        with:
          name: cv-files-${{ matrix.language.name }}
          path: |
            out/CV_${{ matrix.language.name }}*.pdf
            out/CV_${{ matrix.language.name }}*.typ

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: cv-output

      - name: Prepare release files
        run: |
          mkdir -p release
          find cv-output -name "*.pdf" -exec cp {} release/ \;
          find cv-output -name "*.typ" -exec cp {} release/ \;

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: release/*
          generate_release_notes: true
          make_latest: true
